
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" asp-controller="FeverCheck" method="post">
    <input type="text" name="info" value="" placeholder="Fevercheck info"/>
    <span>@ViewBag.Msg</span>

    <input type="submit" value="Save" />

</form>