
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<dl id="contact">
    <dt>Github</dt>
    <dd><a href="https://github.com/HansWahlgren">HansWahlgren</a></dd>

    <dt>Email</dt>
    <dd>phwahlgren@gmail.com</dd>

    <dt>Phone</dt>
    <dd>0734419467</dd>
</dl>
